* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-color: #A3DA8D;
  --secondary-color: #146356;
  --text-color: #121212;
  --text-secondary-color: #444444;
  --bg-color: #fbfbfb;
  --shadow-color: rgba(18, 18, 18, 0.3);
}

html, body, #root {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}