* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-color: #A3DA8D;
  --secondary-color: #146356;
  --text-color: #121212;
  --text-secondary-color: #444444;
  --bg-color: #fbfbfb;
  --shadow-color: rgba(18, 18, 18, 0.3);
  --wrong-color: #FC4F4F;
  --correct-color: #61B15A;
  --white-text-color: #FFF;
}

html, body, #root {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.correct {
  border: 1px solid var(--correct-color);
  background-color: var(--correct-color);
  color: var(--white-text-color);
}

.wrong {
  border: 1px solid var(--wrong-color);
  background-color: var(--wrong-color);
  color: var(--white-text-color);
}